@model IEnumerable<WebApp.Models.DataModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ForeignKey)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody id="tableOutput">
    @Html.Partial("TableOutput", Model)
    </tbody>
</table>
