@model IEnumerable<WebApp.Models.View.ProgramTableRow>

<table class="table table-striped table-hover">
    <thead class="thead-dark">
    <tr>
        <th scope="col">
        </th>
        <th scope="col" style="width: 100px;">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.PremiumPerPerson)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.LimitLevel)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.LimitTypeCode)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.SumInsured)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.CoverPrc)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.SumPerVisit)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.VisitPerPolicy)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.ProgramType)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.SumPerVisitNc)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Premium)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Manual)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody id="tableDbOut">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.HasSub)
                {
                    <button id="buttonOpenSub_@item.Id" type="button" class="btn btn-dark" onclick="getSubItems(this, @item.Id);">&gt;</button>
                    <button id="buttonCloseSub_@item.Id" type="button" class="btn btn-dark" onclick="closeSubItems(this, @item.Id);" style="display: none;">&lt;</button>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PremiumPerPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LimitLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LimitTypeCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SumInsured)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoverPrc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SumPerVisit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitPerPolicy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SumPerVisitNc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Premium)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manual)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        </tr>
    }
    </tbody>
</table>